.category__card {
  width: 280px;
  height: 380px;
  position: relative;
  cursor: pointer;
  background-color: var(--container-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  border: 6px solid var(--container-color);
  color: var(--title-color);
  font-family: var(--cabinet);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .category__details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly darkened background for better readability */
    color: #fff;
    padding: 1.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .category__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 0.5rem;
      font-family: var(--cabinet);
      line-height: 1.4;
    }

    .category__desc {
      font-size: 1rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 1rem;
      font-family: var(--satoshi);
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Limit description to 3 lines */
      -webkit-box-orient: vertical;
    }

    .category__owner {
      font-size: 1.1rem;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;

      .owner-link {
        margin-left: 5px;
        color: #ffb84d; /* Highlight owner name with a golden color */
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .add-to-cart-btn {
    position: absolute;
    bottom: 200px;  /* Move it lower */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4f58;
    color: white;
    font-family: var(--cabinet);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
    &:hover {
      background-color: #ff2a3b;
      transform: translateX(-50%) scale(1.05);
    }
  
    &:active {
      background-color: #ff1e29;
    }
  }
  
}
