.category__card {
  width: 252px;
  height: 344px;
  position: relative;
  cursor: pointer;
  background-color: var(--container-color);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 7px solid var(--container-color);
  color: var(--title-color);
  font-family: var(--cabinet);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;

  &:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
  }

  .category__details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    padding: 1rem;

    .category__desc {
      font-size: var(--normal-font-size);
      font-weight: 500;
      font-family: var(--satoshi);
      color: var(--text-color-light);
    }

    .category__title {
      font-size: var(--h3-font-size);
      font-weight: 700;
      font-family: var(--cabinet);
      color: var(--text-color);
    }
  }

  .add-to-cart-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e1e1e;
    color: white;
    font-family: var(--cabinet);
    font-size: var(--normal-font-size);
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

  }
}
